/*---HEADER---*/
header {
    width: 100%;
    transform: top 250ms ease-in-out;
    position: sticky;
    top: -177px;
    z-index: 2;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.header-sticky {
    top: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.header-fixed {
    position: fixed;
    height: 100%;
    top: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: none;
    -moz-transition: none;
}

/*MENU*/
/*huvudmenyn i headern*/
.menu {
    overflow: hidden;
    width: 100%;
    margin: auto;
    margin-top: 0.2rem;
    padding: 0 0.5rem 0.7rem 0.5rem;
    z-index: 2;
}

.logo-link {
    margin: 0.3rem 0.3rem 0.3rem 0.5rem;
}

/*navlänkarna som ligger i hamburgermenyn på mobile*/
.menu-links {
    margin: 0;
    width: 100%;
    height: 100%;
}

.menu-links-hidden {
    display: none;
}

/*navlänkarna*/
.menu-link,
.burger {
    padding: 1rem;
    display: block;
    position: relative;
}

/*hamburgermenyn*/
.burger {
    border: none;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.burger-icon {
    font-size: 2rem;
}


@media screen and (min-width: 900px) {
    /*huvudmenyn i headern*/
    .menu {
        display: flex !important;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    /*navlänkarna som ligger i hamburgermenyn på mobile*/
    .menu-links-desktop {
        display: flex !important;
    }

    /*hamburgermenyn*/
    .burger {
        display: none !important;
    }
}