/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*COLORS*/
.color-brand{
  background-color: #AD4C10;
}
.color-interact{
  background-color: #399C9D;
}

/*TYPOGRAPHY*/
p {
  font-size: 1rem;
}

/*COMMON COMPONENTS*/
.max-width-container{
  max-width: 1600px;/*px-count not final*/
}
.flex-separate{
  display: flex;
  justify-content: space-between;
}
.flex-left{
  align-items: flex-start;
}
.flex-right{
  align-items: flex-end;
}

/*MAIN COMPONENTS*/
body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
footer {
width: 100%;
padding: 0.2rem;
}

/*****************************************/
/**********   INDEX  *********************/
/*****************************************/

/*CSS for specific design on index page*/
.card-container{
  flex-direction: column;
  display:flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card-text {
  padding: 20px;
}

.card-text h2 {
  margin-top: 0;
}

.card-text p {
  margin-bottom: 0;
}



/*****************************************/
/**********   RECIPE  ********************/
/*****************************************/

/*CSS for specific design on recipe page*/

.body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title{
  background-color: grey;
  min-height: 100px;
  height: auto;
}
.title h1 {
  color: black;
  font-size: 45px;
  padding: 10px;
}
.star {
  font-size: 75px;
  color: black;
}
.img {
  width: 95%;
  height: 600px;
  border-radius: 20px;
}
h2 {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size: 35px;
}
.info {
  height: auto;
  width: auto;
  background-color: grey;
  border-radius: 25px;
}
.checkbox {
  zoom: 3;
}
p{
  font-size: 35px;
  margin-left: 20px;
}





/* DESKTOP, px-count not final */
@media screen and (min-width: 800px) {
    .card {
      width:25%;
    }
    .card-container{
      flex-direction: row;
      display:flex;
    }
}