/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*COLORS*/
.color-brand {
  background-color: #ad4c10;
}
.color-interact {
  background-color: #399c9d;
}

/*TYPOGRAPHY*/
p {
  font-size: 1rem;
}

/*COMMON COMPONENTS*/
.max-width-container {
  max-width: 1300px; /*px-count not final*/
}
.flex-separate {
  display: flex;
  justify-content: space-between;
}
.flex-left {
  align-items: flex-start;
}
.flex-right {
  align-items: flex-end;
}

/*MAIN COMPONENTS*/
body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}
footer {
  width: 100%;
  padding: 0.2rem;
}

/*****************************************/
/**********   INDEX  *********************/
/*****************************************/

/*CSS for specific design on index page*/

/*****************************************/
/**********   RECIPE  ********************/
/*****************************************/

/*CSS for specific design on recipe page*/

.title {
  background-color: #ad4c10;
  min-height: 2%;
  height: auto;
}
.title h1 {
  color: black;
  font-size: 3rem;
  padding: 10px;
}
.star {
  font-size: 3.5rem;
  color: black;
}
.img {
  width: 95%;
  border-radius: 20px;
}
.h2recipe {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size: 2rem;
}
.info {
  height: auto;
  width: auto;
  border-radius: 25px;
}
.checkbox {
  zoom: 3;
}
.instructions {
  font-size: 2rem;
  margin-left: 20px;
}
.section {
  display: flex;
  flex-direction: column;
}

/* DESKTOP, px-count not final */
@media screen and (min-width: 1000px) {
  .section {
    display: flex;
    flex-direction: row;
  }
  .s {
    margin-top: 70px;
  }
  .instructions {
    margin-top: 20px;
    font-size: 2.2rem;
  }
}
