/*****************************************
                CSS RESET
*****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************************************
                COLORS
*****************************************/
.color-primary {
  background-color: #006a4a!important;
}

.text-color-primary {
  color: #006a4a !important;
}
.border-color-primary{
    border-color: #006a4a!important;
}
.color-secondary {
  background-color: #006a4a51;
}

.text-color-secondary {
  color: #A4C5B9 !important;
}

.color-tag-one {
    background-color: #006a4a31;
}

.color-tag-two {
    background-color: #006a6131;
}

.color-tag-three {
    background-color: #0098331f;
}

.background-primary {
  background-color: #fafafa;
}
.text-color-light {
    color: #fafafa;
  }
.background-secondary {
  background-color: #f0efee;
}

.color-accent {
  background-color: #ce340e;
}

.text-color-accent {
  color: #ce340e;
}

/*****************************************
                TYPOGRAPHY
*****************************************/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

/*****************************************
            COMMON COMPONENTS
*****************************************/
/*---GENERAL STRUCTURE & LAYOUT---*/
/*****fleximojs******/
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flex-separate {
  justify-content: space-between;
}

.flex-left {
  align-items: flex-start;
}

.flex-right {
  align-items: flex-end;
}
/*********************/

/*ser till så innehållet i containern inte blir hur bred som helst*/
.max-width-container {
  max-width: 1366px;
  width: 100%;
  align-self: center;
  padding: 1rem;
}
.btn {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in;
}
.btn:hover {
    box-shadow: none;
    background-color: #044935!important;
    cursor: pointer;
}
.btn:active {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    background-color: #048f65!important;
    transform: scale(0.8);
}

body,
main,
footer,
#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button{
    border-style: none;
    background:none;
}