/*****************************************
                CSS RESET
*****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************************************
                COLORS
*****************************************/
.color-primary {
  background-color: #006a4a;
}

.text-color-primary {
  color: #006a4a !important;
}

.color-secondary {
  background-color: #006a4a7c;
}

.text-color-secondary {
  color: #006a4a3f !important;
}

.color-tag-one {
    background-color: #006a4a31;
}

.color-tag-two {
    background-color: #006a6131;
}

.color-tag-three {
    background-color: #0098331f;
}

.background-primary {
  background-color: #fafafa;
}
.text-color-light {
    color: #fafafa;
  }
.background-secondary {
  background-color: #f0efee;
}

.color-accent {
  background-color: #ce340e;
}

.text-color-accent {
  color: #ce340e;
}

/*****************************************
                TYPOGRAPHY
*****************************************/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*if necessary*/
h1 {
}

h2 {
}

h3 {
}

p {
  font-size: 1.1rem;
}

.company-name {
  /*stå bredvid loggan eller kommer namnet va i loggan???*/
}

.slogan {
  font-style: italic;
  margin-top: 0.2rem;
}

a,
nav .burger {
  text-decoration: none;
  /*ta bort underline från menylänkar*/
  font-size: 1.5rem;
}

/*****************************************
            COMMON COMPONENTS
*****************************************/
/*---GENERAL STRUCTURE & LAYOUT---*/
/*****fleximojs******/
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flex-separate {
  justify-content: space-between;
}

.flex-left {
  align-items: flex-start;
}

.flex-right {
  align-items: flex-end;
}
/*********************/

.max-width-container {
  /*ser till så innehållet i containern inte blir hur bred som helst*/
  max-width: 1600px;
  /*px-count not final*/
  width: 100%;
  align-self: center;
  padding: 1rem;
}

body,
#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*---HEADER---*/
header {
  width: 100%;
  transform: top 250ms ease-in-out;
  position: sticky;
  top:-177px;
  z-index:2;

  /* height:7rem; */
  transform: all 0.5s ease;
  -moz-transition: all 0.5s ease;

}
.header-sticky{
    transform: all 0.5s ease;
    -moz-transition: all 0.5s ease;

    /* position: sticky; */
    top:0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.header-fixed {
    position: fixed;
    height: 100%;
    top:0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

/*LOGO*/
.company-logo {
  width: auto;
  max-width: 2.5rem;
  position: relative;
  margin-right: 0.5rem;
  margin-bottom: -0.5rem;
}

/*MENU*/
.menu {
  /*huvudmenyn i headern*/
  overflow: hidden;
  width: 100%;
  margin: auto;
  margin-top:0.2rem;
  margin-bottom: -1rem;
  padding: 0 0.5rem 0 0.5rem;
  z-index:2;
}

.logo-link {
    margin: 0.3rem 0.3rem 0.3rem 0.5rem;
}
.menu-links {
  /*navlänkarna som ligger i hamburgermenyn på mobile*/
  margin: 0;
  /* position: fixed; */
  width: 100%;
  height: 100%;
}
.menu-links-hidden{
    display: none;
}

.menu-link,
.burger {
  /*länkarna*/
  padding: 1rem;
  /* margin: 0.5rem; */
  display: block;
  position: relative;
}

.burger {
  /*hamburgermenyn*/
  border: none;
  background-color: #ffffff00;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.burger-icon {
    font-size: 2rem;
}
/*---GEOSEARCH---*/
/*GEO*/
.geosearch {
  /*gemensam section för geo + search*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.geo-container {
  /*div med geo-location-knapp (geo-btn) och "find recipes matching your region" (geo-text)*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geo-icon {
  /*geo-ikonen (som ligger i geo-knappen)*/
  color: #ffffff;
  font-size: 40px;
}

.geo-btn {
  /*geo-knappen*/
  padding: 20px 25px 20px 25px;
  margin: 4px 0px 15px 0px;
  border-radius: 50%;
  border-style: none;
  z-index: 1;
}


.geo-text {
    /*"find recipes matching your region"*/
    font-size: 1.2rem;
    font-weight: 700;
    /* margin: 5%; */
    /* width: 135%; */
    /* padding: 1%; */
    text-align: center;
}

/*SEARCH*/
.search-form {
  width: 100%;
}
.search-field{
    position: absolute;
    border:rgba(0, 0, 0, 0.5) 3px solid;
    border-radius: 25px;
    margin-top: 0.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-size: 1.3rem;
}
.clear-search-icon{
    color:white;
    font-size: 150%;
}
.searchbar-container {
  /*container för sökrutan samt filterknapp/kommande filtermeny*/
  margin-top: 7%;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 3rem;
}

.searchbar {
  /*div för searchbar och filterknapp*/
  background-color: transparent;
  border-style: none;
  color: white;
  padding-left:1rem;
  font-size: 1.2rem;
  /* padding: 4% 0% 4% 5%; */
  /* width: 1100%; */
}

.search-btn, .slider-btn {
  /*sökknappen (om inget står i sökrutan öppnar den filtermenyn)*/
  border-radius: 50%;
  border-style: none;
  height: 3rem;
  width: 3rem;
  
  /* padding: 9px 10px 9px 10px;  */
}
.slider-btn {
    margin-left:0.2rem;
}
.clear-search-btn{
    padding-right:1rem;
    background: none;
}

.slider-icon, .search-icon {
  /*ikon för filtermenyn*/
  color: rgba(255, 255, 255, 0.864);
  font-size: 150%;
  width: 3rem;
}

/*FILTER*/
.filter-btn{
}
.active-btn{
    background-color: #006a4a;
}
/*css för filtermenyn, ej implementerad */
    /*css för filtermenyn, ej implementerad */

.filter-show {
    display: none;
}

.filter-menu {
    width: 100%;
    height: 100%;
    color: #006a4a3f;
    position: fixed;
    overflow: scroll;
    z-index: 2;
    top: 0;
    right: 0;
    padding: 1rem;
    /* background-color: shade(black); */
    box-shadow: 0 -5px 7px rgba(0, 0, 0, 0.2);
}

.filter-head {


}

.filter-line {
    background: #006a4a;
    color: #006a4a3f;
    border-Color: #006a4a3f;
    height: 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top:1rem;
}

.filter-body {
    color: #006a4a3f;

}

.filter-footer {
    margin-top: 2rem;
    /* position: absolute; */
    /* bottom: 5%; */
}

.filter-container {
    margin: 0.5rem;
}

.collapse-btn {
    width: 100%;
}

.filter-menu-title, .close-filter-icon{
    font-size: 3rem;
}
.filter-title, .collapse-icon{
    font-size: 2rem;
    margin: 0.5rem 0 0.5rem 0;
}
.clear-filter-btn, .apply-filter-btn, .filter-btn {
    border-radius: 20rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    margin: 2px;
}
.clear-filter-btn, .apply-filter-btn{
    font-size: 1.5rem;
}

button{
    border-style: none;
}


/*---ADS---*/
.ad {
    /*reklambanner*/
    /* background-color: #000000; */
    height: 100%;
    /* color: aliceblue; */
    text-align: center;
    font-size: 300%;
    margin: 1rem -1rem 1rem -1rem;
    height: 10rem;
}

/*---TAGS---*/
.tag-container {
    align-items: flex-start;
    /*container för taggarna på receptkort och receptsida*/
}
.tag {
    /*kategoritaggar på receptkort och receptsida*/
    /* margin-right: 0.3rem; */
    font-size: 1rem;
    margin-bottom: 0.2rem;
    margin-right:0.2rem;
    /* padding: 0 0.5rem 0 0.5rem; */
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    /* color: #ffffff; */
    font-weight: bold;
    height: auto;
    width: auto;
    border-radius: 25px;
}

/*---STARS---*/
.star {
  /*stjärnorna (betyg på recepten)*/
  font-size: 2.4rem;
  margin-top: -0.4rem;
  /*negativ margin så de hamnar i linje med taggar, kan behöva ändras om vi använder ikoner ist för "text*/
}
/* ---LIKES---*/
.like-icon, .like-number{
    font-weight: 600;
    font-size: 2rem;
}

/*---FOOTER---*/
footer {
  /*jag har ont i foten*/
  width: 100%;
  padding: 0.2rem;
  margin-top: 2rem;
  display: flex !important;
  justify-content: center;
  flex-direction: row;
}

.footer-info-section {
  /*info/submenyn i footern*/
}

/*****************************************
              MAIN COMPONENTS
*****************************************/
/*---INDEX---*/
.result-container {
  /*container för innehållet på resultatdelen (frontpage och sökresultat)*/
}

.recipe-card-container {
    /*container för alla receptkort (sökresultat)*/
    flex-direction: column;

    display: flex;
    margin: 1rem 0 1rem 0;
}

/*RECIPE CARD*/
.recipe-card {
    /*de små korten för recepten på resultatdelen*/
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;

    /* fast höjd så dom e lika höga oavsett taggar */
    /* funkar ej>:(  */
    /* height: 28rem; */
}
.recipe-card a {
    text-decoration: none;
}

.recipe-card img {
  /*thumbnails på receptkorten*/
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.recipe-card-info {
  /*all info på receptkorten (titel,bild,taggar, beskrivning, betyg)*/
  padding: 1rem;
}

.recipe-card-title {
    /*namnet på receptet (på kortet)*/
    font-size: 1.4rem;
    margin-bottom: 1rem;
    height: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*SHOW-MORE-BUTTON*/
.show-more {
  /*knapp för att ladda in fler resultat i resultatdelen*/
}

/*---RECIPE---*/
/*sidan för enskilda recept med all info*/

.recipe-container {
  /*container för receptets alla delar*/
  display: flex;
  flex-direction: column;
}

.recipe-title {
  /*recepttiteln högst upp*/
  min-height: 2%;
  height: auto;
  color: black;
}
.recipe-visual-container {
  /*container för receptets bild, taggar och stjärnor*/
  margin-top: 1rem;
}
.recipe-image {
  /*receptbilden*/
  width: 100%;
  border-radius: 20px;
}

.recipe-ingredients {
  /*ingredienslistan på receptsidan*/
  margin-top: 1rem;
}
.ingredients-title {
  /*ingredienslistans titel (typ blabla 4 portioner)*/
  margin-bottom: 1rem;
}
.ingredient {
  /* enskild ingrediens i ingredienslistan*/
  margin-bottom: 1rem;
  margin-right: 1rem;
}

/*CHECKBOX INSTRUCTION*/
.checkbox-container {
  /*container för enskild checkbox-komponent*/
  margin: 1rem 1rem 1rem 0;
}
.checkbox {
  /*själva checkbox-elementet*/
  zoom: 3;
}
.linethrough{
    text-decoration: line-through;
    color:grey;
}

.instruction {
  /*instruktionssteg*/
  /* margin-top: 20px; */
  margin-left: 0.5rem;
}

/*****************************************
            DESKTOP (RESPONSIVE)
*****************************************/
/*har lagt in samma kategorier här under,
ifall det behöver läggas in ytterligare justeringar för responsivitet senare*/
@media screen and (min-width: 1000px) {
  /*****************************************
            COMMON COMPONENTS
    *****************************************/
  /*---GENERAL STRUCTURE & LAYOUT---*/
  /*---HEADER---*/
  /*LOGO*/
  /*MENU*/

  .menu {
    /*huvudmenyn i headern*/
    display: flex !important;
    justify-content: space-between;
    margin-bottom:0.5rem;
  }

  .menu-links-desktop {
    /*navlänkarna som ligger i hamburgermenyn på mobile*/
    display: flex !important;
  }
  .burger {
    /*hamburgermenyn*/
    display: none !important;
  }

  /*---GEOSEARCH---*/
  .geosearch {
    /*gemensam section för geo + search*/
    flex-direction: row;
    justify-content: space-between;
  }
    .geo-text-container{
        margin-left:2rem;
    }
    .geo-text {
        /*"find recipes matching your region"*/
        /* margin: -5%; */
        /* padding: 1% 1% 1% 4%; */
    }

    /*SEARCH*/
    .searchbar-container {
        /*container för sökrutan samt filterknapp/kommande filtermeny*/
        margin-top: 0;
        /* width: 100%; */
        border-radius: 3rem;
    }

  /*GEO*/
  .geo-container {
    /*div med geo-location-knapp (geo-btn) och "find recipes matching your region" (geo-text)*/
    flex-direction: row;
    align-items: left;
  }


  /*SEARCH*/
  .search-form{
    width: 50%;
  }
  .searchbar-container {
    /*container för sökrutan samt filterknapp/kommande filtermeny*/
    margin-top: 0;
    /* width: 100%; */
    border-radius: 3rem;
  }

  .searchbar {
    /*div för searchbar och filterknapp*/
    padding: 3% 0% 3% 3%;
    width: 110%;
    font-size: 110%;
  }

  .slider-btn, .search-btn {
    /*sökknappen (om inget står i sökrutan öppnar den filtermenyn)*/
    border-radius: 50%;
    border-style: none;
    height: 3rem;
  width: 3rem;
    /* padding: 3% 3.5% 3% 3.5%;  */
  }



  .filter-menu{
    width: 30%;
  }
    /*---TAGS---*/
    .tag {
        /*kategoritaggar på receptkort och receptsida*/
        /* font-size: 1rem;
        margin-bottom: 0; */
    }

  /*---ADS---*/

  /*---TAGS---*/
  .tag {
    /*kategoritaggar på receptkort och receptsida*/
    /* font-size: 1rem;
    margin-bottom: 0; */
  }

  /*---STARS---*/
  /*---FOOTER---*/

  /*****************************************
              MAIN COMPONENTS
    *****************************************/
    /*---INDEX---*/
    .recipe-card-container {
        /*container för alla receptkort (sökresultat)*/
        justify-content: center;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
    }
    /*RECIPE CARD*/
    .recipe-card {
        /*de små korten för recepten på resultatdelen*/
        width: calc(25% - 1rem);
        margin:0.5rem;
        box-sizing: border-box;
        /* height: 23rem; */
    }

  /*SHOW-MORE-BUTTON*/

  /*---RECIPE---*/
  /*sidan för enskilda recept med all info*/

  .recipe-container {
    /*container för receptets alla delar*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .recipe-title {
    /*recepttiteln högst upp*/
    font-size: 3rem;
  }
  .recipe-visual-container {
    /*container för receptets bild, taggar och stjärnor*/
    width: 50%;
    order: 2;
  }
  .recipe-ingredients {
    /*ingredienslistan på receptsidan*/
    width: 50%;
  }

  /*CHECKBOX INSTRUCTION*/
  .recipe-instructions {
    /* container för receptsinstruktionerna (innehåller containrar för checkbox-komponent) */
    order: 3;
    align-self: flex-end;
  }
}
